.container{
    padding-top: 5px;
    padding-bottom: 5px;
}
.box{
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
}
.th1{
    width: 488px;
    height: 78.13px;
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
}
.th1-1{
    height: 78.13px;
    text-align: center;
    width: 227px;
    background-color: rgb(239, 239, 239);
    padding-left: 20px;
    padding-right:20px;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
}
td{
   text-align: center;
   height: 50px;
   font-family: "Work Sans",sans-serif;
   font-weight: 600;
   padding-left: 30px;
   padding-right: 30px;
   border: solid 0.2px rgb(221, 221, 221);
}
.tr2{
    height: 68px;
}
.table1{
    border-collapse: collapse;
}

.leftline1{
    width: 488px;
    height: 68px;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-left: 10px;
}
.leftline2{
    width: 488px;
    height: 55px;
    text-align: left;
    color: white;
    padding-left: 10px;
    padding-left: 10px;
}
.lfbg1{
    background-color:#20a3ff;
    border: solid  #20a3ff;
    
    
}
.lfbg2{
    background-color:#0096ff;
    border: solid #0096ff;
   
}
.tableheading2 .th2{
    width: 488px;
    height: 105px;
    background-color: #efefef;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
}
.tableheading3 .th3{
    width: 488px;
    height: 62px;
    background-color: #efefef;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "Work Sans",sans-serif;
    font-weight: 600;
}

.leftlinebutton{
    width: 483px;
    height: 83px;
    border: none;
}
.orderbutton{
    padding: 15px 30px;
    background-color: rgb(225, 225, 225);
    border: none;
    color: grey;
    transition: ease-in linear;
}
.orderbutton:hover{
    background-color: #3498db;
    color: white;
}

tbody,thead{
    border-right: solid 0.2px rgb(221, 221, 221);
}

table i{
    font-weight: bolder;
    font-size: 20px;
   
}



